<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" method="post">
        <input type="text" class="search-volcano" name="name" placeholder="Search by Name...">
        <select id="type" name="typeVolcano">
            <option value="Supervolcanoes">Supervolcanoes</option>
            <option value="Submarine">Submarine</option>
            <option value="Subglacial">Subglacial</option>
            <option value="Mud">Mud</option>
            <option value="Stratovolcanoes">Stratovolcanoes</option>
            <option value="Shield">Shield</option>
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>
    {{#if volcanoes}}

        <div class="search-result">

            <div class="search-list">
                {{#each volcanoes}}
                <div class="volcano">
                    <div class="volcano-img">
                        <img src="{{image}}">
                    </div>
                    <div class="volcano-info">
                        <h1>{{name}}</h1>
                        <p><span>Location: </span>{{location}}</p>
                        <p><span>Volcano Type: </span>{{typeVolcano}}</p>
                    </div>

                    <a href="/volcano/{{_id}}/details" class="btn-details">Details</a>
                </div>
                {{/each}}
            </div>


    </div>
    {{else}}
        <div class="no-match">
            <p>No match was found!</p>
        </div>
    {{/if}}
</section>
