<div class="details-container">
    <div class="details-container-image">
        <img
                src="{{image}}">
    </div>
    <div class="details-container-info">
        <h2>Title: {{title}}</h2>
        <h3>Type: {{type}}</h3>
        <h3>Certificate: {{certificate}}</h3>
        <h3>Price: €{{price}}</h3>
        <h3>By: {{owner.email}}</h3>
        {{#if signUpUsers}}
            <h4>Signed By: {{signUpUsers}}</h4>
        {{else}}
            <h4>Nobody has signed in for this course yet</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>{{description}}</p>
    </div>
    <div class="btn-container">
        {{#if isAuthenticated}}
            {{#if isOwner}}
                <a href="/courses/{{_id}}/edit">Edit</a>
                <a href="/courses/{{_id}}/delete">Delete</a>
            {{else if isSigned}}
                <p class="sign-up">You've already signed up for this course!</p>
            {{else}}
                <a href="/courses/{{_id}}/sign-up">Sign up</a>
            {{/if}}

        {{/if}}

    </div>
</div>
